.post-page {
    max-height: 75vh;
    overflow-y: scroll;
}

.post-card {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px !important;
}

.post-info-button {
    position: absolute;
    bottom: 10px;
}

.post-content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    margin-top: 10px;
}

.post-comments-section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px;
}

.comment-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
