.login-page {
    text-align: center;
    margin-top: 200px;
}

.login-card {
    margin-bottom: 30px;

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.75rem;
        margin-top: 10px;
        color: rgba(65, 54, 54, 0.493);
    }
}
